{% extends "base.html" %}
{% block title %}Newsfeed{% endblock %}
	<!--Header End-->
{% block main %}

	<div id="page-contents" class="rx_chat_content">
		<div class="container">
			<div class="row">
			{% include "parts/left_sidebar.html" %}
			<div class="col-md-7">


			</div>
			{% include "parts/suggestions.html" %}
			</div>
		</div>
	</div>

{# <div class="none" id="user_login">{{session.user_data.login}}</div>--> #}

<div class="none" id="location">{{session.id_user_logged}}</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/comments.js') }}"></script>
<script src="{{ url_for('static', filename='js/likes.js') }}"></script>
<script src="{{ url_for('static', filename='js/make_chat.js') }}"></script>

{% if not session.location %}
<script src="{{ url_for('static', filename='js/get_location.js') }}"></script>
{% endif %}

{% endblock %}